@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-notebook-gray text-gray-900 font-sans antialiased overflow-hidden;
  }
}

@layer utilities {
  .bg-dot-grid {
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
    background-size: 24px 24px;
  }
  
  .glass-panel {
    @apply bg-glass backdrop-blur-md border border-glass-border shadow-glass;
  }
}
